footer
  .container.text-center
    p.pull-left © 2017 DonScraper, Inc. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/wrainaud/DonScraper') GitHub Project
      li
        a(href='https://github.com/wrainaud/DonScraper/issues') Issues
      li(class=(title == 'Contact') ? 'active' : undefined)
          a(href='/contact') Contact
