MONGODB=mongodb://localhost:27017/test
MONGOLAB_URI=mongodb://localhost:27017/test

SESSION_SECRET=Rotten-potato-monkey

GOOGLE_ID=732382892254-lsi5pmbldq67tubfbcm12ev4sme0h0i1.apps.googleusercontent.com
GOOGLE_SECRET=0kbh7xc1D6Ii05u3mdbSmgY7

